html, body {
    font-family: sans-serif;
}

.small {
    font-size: 0.75em;
}

.quiet {
    color: silver;
}

.quiet a {
    color: silver;
    text-decoration: none;
}

#stats {
font-weight: bold;
}


    #chart .button {
        position: absolute;
        cursor: pointer;
    }

    #chart div.button {
        font-size: smaller;
        color: #999;
        background-color: #eee;
        padding: 2px;
    }
    .message {
        padding-left: 50px;
        font-size: smaller;
    }